<h1>All Users</h1>
  <ul>
    <table>
      <% for (let i = 0; i < users.length; i++) { %>
        <tr>
          <td id="column-name">
            <li>
              <a href="/users/<%=users[i]._id%>"> <%= users[i].name %> </a>
           </li>
          </td>
          <td id="edit"><button><a href="/users/<%=users[i]._id%>/edit" id="edit-link">EDIT</a></button></td>
          <td id="delete">
              <form action="/users/<%=users[i]._id; %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
              </form>
          </td>
        </tr>
      <% } %>
    </table>
  </ul> 